# dependencies directory
node_modules/

# distribuction directory
dist/

# test coverage directory
coverage/

# environment variables
.env
.env.local
.env.development
.env.production

# misc
.DS_Store
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
